<template>
  <div class="#add">
    <div class="for-add-btn">
      <button @click="ModalToggle" class="ask">Add User</button>
    </div>

    <transition name="fade">
      <form class="from-add" v-if="Add">
        
        <div class="add-header">
          <p>Add User</p> <img @click="ModalToggle()" src="https://cdn0.iconfinder.com/data/icons/basic-ui-elements-color-round-icon/253988/44-512.png" alt="">
        </div>
        <input v-model="obj.name" type="text" placeholder="Name" />
        <input v-model="obj.phone" type="text" placeholder="Phone" />
        <input v-model="obj.website" type="text" placeholder="Website" />
        <input v-model="obj.street" type="text" placeholder="Street" />
        <button @click="AddObj(obj)">Add</button>
      </form>
    </transition>

    <transition name="fade">
      <div @click="ModalToggle()" class="bg" v-if="Add"></div>
    </transition>
  </div>
</template>
<script>
export default {
  name: "AddUser",
  data() {
    return {
      Add: false,
      obj: {
        id: Math.random(),
        name: "",
        username: "Bret",
        email: "Sincere@april.biz",
        address: {
          street: "",
          suite: "Apt. 556",
          city: "Gwenborough",
          zipcode: "92998-3874",
          geo: {
            lat: "-37.3159",
            lng: "81.1496",
          },
        },
        phone: "",
        website: "",
        company: {
          name: "Romaguera-Crona",
          catchPhrase: "Multi-layered client-server neural-net",
          bs: "harness real-time e-markets",
        },
      },
    };
  },
  methods: {
    AddObj: function (obj) {
      this.$emit("AddNewObj", obj);
      this.Add = !this.Add;
    },
    ModalToggle: function () {
      this.Add = !this.Add;
      this.obj.name = "";
      this.obj.phone = "";
      this.obj.website = "";
      this.obj.street = "";
    },
  },
};
</script>
<style>
.add-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-header img{
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.from-add {
  padding: 20px;
  box-shadow: 0 0 8pxrgb (53, 53, 53);
  border-radius: 10px;
  background: #fff;
  width: fit-content;
  height: fit-content;
  display: block;
  margin: 30px 0;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.from-add p {
  margin-left: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
.from-add input {
  width: 200px;
  height: 35px;
  outline: none;
  border: 2px solid #0071e3;
  border-radius: 8px;
  padding-left: 5px;
  margin: 30px 5px;
  display: block;
  transition: 300ms;
}
.from-add input:hover {
  cursor: pointer;
  border-color: rgb(35, 107, 79);
}
.from-add button {
  display: block;
  margin-left: 8px;
  width: 100px;
  height: 35px;
  border: none;
  margin-right: 8px;
  border-radius: 6px;
  background: #0071e3;
  color: white;
  transition: 300ms;
  cursor: pointer;
}
.from-add button:hover {
  background: rgb(35, 107, 79);
}
.for-add-btn {
  display: flex;
  justify-content: flex-end;
  width: 880px;
  margin: 0 auto;
}
.ask {
  display: block;
  margin-top: 15px;
  margin-left: 8px;
  width: 100px;
  height: 35px;
  border: none;
  margin-right: 8px;
  border-radius: 6px;
  background: #0071e3;
  color: white;
  transition: 300ms;
  cursor: pointer;
}
.bg {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  backdrop-filter: blur(2px);
}
</style>