<template>
  <!-- Change user & save via button -->
  <!-- Change also phonenumber, website and street of user -->
  <div id="modals">
    <transition name="fade">
      <div class="modal modal-edit" v-if="EditModal">
        <div class="close" @click="CloseModal()">
          <img @click="ModalToggle()" src="https://cdn0.iconfinder.com/data/icons/basic-ui-elements-color-round-icon/253988/44-512.png" alt="">
        </div>
        <h2>Edit element</h2>

        <input
          class="inps"
          type="text"
          placeholder="name"
          v-model.lazy="UserToUpdate.name"
        />
        <input
          class="inps"
          type="text"
          placeholder="name"
          v-model.lazy="UserToUpdate.phone"
        />
        <input
          class="inps"
          type="text"
          placeholder="name"
          v-model.lazy="UserToUpdate.website"
        />
        <input
          class="inps"
          type="text"
          placeholder="name"
          v-model.lazy="UserToUpdate.address.street"
        />
        <button class="model-btns" @click="SaveChanges(UserToUpdate)">
          Save
        </button>
        <button class="model-btns" @click="CloseModal()">Go back</button>
      </div>
    </transition>

    <transition name="fade">
      <div @click="CloseModal()" class="bg" v-if="EditModal"></div>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      value: "",
      EditModal: false,
      EditValue: "",
      userId: '',
      // Пустой юзер появиться при нажатии на кнопку Edit
      UserToUpdate: {},
    };
  },
  methods: {
    CloseModal: function () {
      this.EditModal = !this.EditModal;
    },
    SaveChanges: function () {
      this.EditModal = !this.EditModal;
      this.$root.$emit("SaveChanges", this.UserToUpdate);
    },
  },
  mounted() {
    this.$root.$on("ShowEditModal", (user) => {
      this.CloseModal();
      // Сохраняем пользователя в этом компоненте

      this.UserToUpdate = user;
    });
  },
};
</script>

<style>
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fff;
  padding: 24px;
  border-radius: 24px;
  transform: translate(-50%, -50%);
  border: 1px solid silver;
  z-index: 2;
}

.modal .close {
  position: absolute;
  right: 24px;
  top: 24px;
}
.modal h2 {
  margin-top: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: 0.3s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.bg {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  backdrop-filter: blur(2px);
}
.inps {
  display: block;
  margin-top: 10px;
  width: 200px;
  height: 35px;
  border: none;
  border: 1px solid rgb(35, 107, 79);
  border-radius: 5px;
  outline: none;
  padding-left: 5px;
}
.model-btns {
  margin-top: 10px;
  width: 100px;
  height: 35px;
  border: none;
  margin-right: 8px;
  border-radius: 6px;
  background: rgb(35, 107, 79);
  color: white;
}
.close img{
  height: 25px;
  width: 25px;
}
h2{
  text-align: left;
}
</style>
