<template>
  <div id="search-block">
    <div class="wrapper-search">
      <input
        @keyup="InputSearch()"
        v-model="SearchInpValue"
        type="text"
        placeholder="Name"
      />
      <button @click="ClearInputValue">Clear</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      SearchInpValue: "",
    };
  },
  methods: {
    InputSearch: function () {
      this.$emit("InputSearch");
    },
    ClearInputValue: function(){
      console.log(this.SearchInpValue);
       this.SearchInpValue = ""
    }
  },
};
</script>

<style>
.wrapper-search {
  width: fit-content;
  margin: 0 auto;
  height: fit-content;
}
.wrapper-search input {
  width: 200px;
  height: 35px;
  outline: none;
  border: 1px solid #0071e3;
  border-radius: 8px;
  padding-left: 5px;
}
.wrapper-search button {
  margin-left: 8px;
  width: 100px;
  height: 35px;
  border: none;
  margin-right: 8px;
  border-radius: 6px;
  background: #0071e3;
  color: white;
}
</style>
